[Unit]
Description=Starts the Menestrello service in user space
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=%h/menestrello
EnvironmentFile=%h/menestrello/.env
ExecStart=%h/menestrello/.venv/bin/menestrello --io-class=${MENESTRELLO_IO_CLASS}
Restart=on-failure
RestartSec=5
StartLimitBurst=5

[Install]
WantedBy=default.target
